<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
      <ion-label>{{user.username}}</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{user.email}}</ion-card-title>
      <ion-card-subtitle>{{user.username}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Info</ion-label>
        <p>{{user.createdAt| date: 'short'}}</p>
      </ion-item>
      <ion-item>
        <ion-label>Social</ion-label>
        comments given rates given
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
