.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    flex: 1 1 0%;
    margin-left: 2rem;
}

.btn-container {
    display: flex;
}

ion-button {
    width: 100%;
}


ion-card-content {
display: flex;

}
ion-input {
    width: 100%;
}

.searchbar {
    display: flex;
    margin: 2rem 0;
    border: 2px solid #fff;
    border-radius: 5px;
    height: 3rem;
}

.searchbar button {
    width: 20%;
}