
<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="dashboard"></ion-back-button>
        <ion-label>{{movie['title']}}</ion-label>
      </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
    <ng-container *ngIf="authService.logged();else notLoggedData">
      <ion-card>
        <ion-img src="https://image.tmdb.org/t/p/w500{{movie['backdrop_path']}}"></ion-img>
        <ion-card-title class="ion-text-center ion-padding">{{movie['title']}}</ion-card-title>
        <ion-card-subtitle class="ion-padding">{{movie['overview']}}</ion-card-subtitle>
        <div class="container">
          <ion-item class="btn" (click)="presentAlert()">
            <ion-icon slot="start" name="star-outline" size="medium" ></ion-icon>
            <ion-label class="ion-text-center">
              <h5>Rating</h5>
              <p>{{totalRating|number : '1.2-2'}}</p>
            </ion-label>
          </ion-item>
          <ion-item (click)="openCommentModal()">
            <ion-icon slot="start" name="chatbox-outline" ></ion-icon>
            <ion-label class="ion-text-center">
              <h5>Coments</h5>
              <p>{{comments.length}}</p>
            </ion-label>
          </ion-item>
        </div>
       
      </ion-card>
      <ion-card>
        <ion-title class="ion-padding ion-text-center">Comments</ion-title>
        <ion-card *ngFor="let item of comments">
          <ion-card-title class="ion-padding ion-text-center">{{item['username']}}</ion-card-title>
          <ion-card-subtitle>{{item['createdAt'] | date: 'short'}}</ion-card-subtitle>
          <ion-card-content class="ion-padding">
            {{item['message']}}
          </ion-card-content>
        </ion-card>
      </ion-card>
    </ng-container>
    <ng-template #notLoggedData>
      <ion-card>
        <ion-img src="https://image.tmdb.org/t/p/w500{{movie['backdrop_path']}}"></ion-img>
        <ion-card-title class="ion-text-center ion-padding">{{movie['title']}}</ion-card-title>
        <ion-card-subtitle class="ion-padding">{{movie['overview']}}</ion-card-subtitle>
        <div class="container">
          <ion-item (click)="presentToast()">
            <ion-icon slot="start" name="star-outline" size="medium" ></ion-icon>
            <ion-label class="ion-text-center">
              <h5>Rating</h5>
              <p>{{totalRating|number : '1.2-2'}}</p>
            </ion-label>
          </ion-item>
          <ion-item (click)="presentToast()">
            <ion-icon slot="start" name="chatbox-outline" ></ion-icon>
            <ion-label class="ion-text-center">
              <h5>Coments</h5>
              <p>{{comments.length}}</p>
            </ion-label>
          </ion-item>
        </div>
       
      </ion-card>
    </ng-template>
  </ion-content>
</div>

