.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    flex: 1 1 0%;
    margin-left: 2rem;
}

.btn-container {
    display: flex;
}

ion-button {
    width: 100%;
}

ion-card img {
    height: 14rem;
    width: 100%
}

ion-card-content {
display: flex;

}