<ion-menu contentId="main-content">
  <ion-header class="menu-header" color="danger">
    <ion-avatar>
      <img
        src="https://www.kindpng.com/picc/m/495-4952535_create-digital-profile-icon-blue-user-profile-icon.png"
      />
    </ion-avatar>
    <ion-label class="name">Guest</ion-label>
  </ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Rotten</ion-title>
  </ion-toolbar>
  <ion-content>
    <div class="btn-container">
      <ion-button color="dark" expand="block" fill="outline" shape="default">
        <ion-icon slot="start" name="tv-outline"></ion-icon>
        Dashboard
      </ion-button>
    </div>
    <div class="btn-container">
      <ion-button color="dark" expand="block" fill="outline" shape="default">
        <ion-icon slot="start" name="star"></ion-icon>
        Favorites
      </ion-button>
    </div>
    <div class="btn-container">
      <ion-button color="dark" expand="block" fill="outline" shape="default">
        <ion-icon slot="start" name="chatbox-ellipses-outline"></ion-icon>
        My comments
      </ion-button>
    </div>
    <div class="btn-container">
      <ion-button color="dark" expand="block" fill="outline" shape="default">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        Profile
      </ion-button>
    </div>
    <ion-footer>
      <div class="btn-container">
        <ion-button color="dark" expand="block" fill="outline" shape="default">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Logout
        </ion-button>
      </div>
    </ion-footer>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>DASHBOARD</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <ion-card>
      <img alt="Jurassic World" src="https://m.media-amazon.com/images/I/71VZERQjA0L._RI_.jpg" />
      <ion-card-header>
        <ion-card-title>Jurassic World</ion-card-title>
        <ion-card-subtitle>Suspense</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-icon slot="start" name="star-half-outline"></ion-icon>
          <ion-label>8.5</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
          <ion-label>84</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card [routerLink] = "['/movies/:id']">
      <img alt="Jurassic World" src="https://m.media-amazon.com/images/I/71VZERQjA0L._RI_.jpg" />
      <ion-card-header>
        <ion-card-title>Jurassic World</ion-card-title>
        <ion-card-subtitle>Suspense</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
   
  </ion-content>
</div>
